<h1> Supplier {{{supplier._id}}} </h1>

<table class="table table-bordered">
   <tr>
       <td>ID</td>
       <td>{{{supplier._id}}}</td>
   </tr>
   <tr>
       <td>Name</td>
       <td>{{{supplier.name}}}</td>
   </tr>
   <tr>
       <td>phone</td>
       <td>{{{supplier.phone}}}</td>
   </tr>
   <tr>
       <td>Email</td>
       <td>{{{supplier.email}}}</td>
   </tr>
   <tr>
       <td>Address</td>
       <td>{{{supplier.address}}}</td>
   </tr>
   <tr>
       <td>Description</td>
       <td>{{{supplier.description}}}</td>
   </tr>
</table>

<a href="/" class="btn btn-primary">Tro ve trang chinh</a>
<a href="/update" class="btn btn-secondary">Cap nhat san pham</a>
