<h1> Product {{{_id}}} </h1>

<table class="table table-bordered">
   <tr>
       <td>ID</td>
       <td>{{{product._id}}}</td>
   </tr>
   <tr>
       <td>Name</td>
       <td>{{{product.name}}}</td>
   </tr>
   <tr>
       <td>Price</td>
       <td>{{{product.price}}}</td>
   </tr>
   <tr>
       <td>Description</td>
       <td>{{{product.description}}}</td>
   </tr>
   <tr>
       <td>Category</td>
       <td>{{{category.name}}}</td>
   </tr>
   <tr>
       <td>Supplier</td>
       <td>{{{supplier.name}}}</td>
   </tr>
   <tr>
       <h2></h2>
       <td>Avatar</td>
       <td><img width="550px" src="/uploads/{{{product.avatar}}}" alt=""></td>
   </tr>
</table>

<a href="/" class="btn btn-primary">Back to main menu</a>
<a href="/products/update?id={{{product._id}}}" class="btn btn-secondary">Update product</a>
